
*.apk
*.cache
*.dll
*.exp
*.idb
*.lib
*.log
*.msi
*.obj
*.opendb
*.pdb
*.rar
*.sdf
*.suo
*.tags
*.tags_sorted_by_file
*.tlog
*.xls
*.zip

/external/Releases
/frameworks/cocos2d-x/AUTHORS
/frameworks/cocos2d-x/build
/frameworks/cocos2d-x/CHANGELOG
/frameworks/cocos2d-x/cmake
/frameworks/cocos2d-x/CMakeLists.txt
/frameworks/cocos2d-x/cocos/2d
/frameworks/cocos2d-x/cocos/3d
/frameworks/cocos2d-x/cocos/audio
/frameworks/cocos2d-x/cocos/base
/frameworks/cocos2d-x/cocos/CMakeLists.txt
/frameworks/cocos2d-x/cocos/cocos2d.cpp
/frameworks/cocos2d-x/cocos/cocos2d.h
/frameworks/cocos2d-x/cocos/deprecated
/frameworks/cocos2d-x/cocos/editor-support
/frameworks/cocos2d-x/cocos/math
/frameworks/cocos2d-x/cocos/navmesh
/frameworks/cocos2d-x/cocos/network
/frameworks/cocos2d-x/cocos/physics
/frameworks/cocos2d-x/cocos/physics3d
/frameworks/cocos2d-x/cocos/platform
/frameworks/cocos2d-x/cocos/renderer
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/auto
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/CMakeLists.txt
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/3d
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/audioengine
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/CCComponentLua.cpp
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/CCComponentLua.h
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/CCLuaBridge.cpp
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/CCLuaBridge.h
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/CCLuaEngine.cpp
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/CCLuaEngine.h
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/CCLuaStack.cpp
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/CCLuaStack.h
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/CCLuaValue.cpp
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/CCLuaValue.h
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/cocos2d
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/Cocos2dxLuaLoader.cpp
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/Cocos2dxLuaLoader.h
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/cocosbuilder
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/cocosdenshion
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/cocostudio
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/controller
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/extension
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/LuaBasicConversions.cpp
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/LuaBasicConversions.h
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/navmesh
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/network
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/physics3d
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/platform
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/spine
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/tolua_fix.cpp
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/tolua_fix.h
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/ui
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/manual/video
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/cocos2d_lua_bindings.xcodeproj
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/script
/frameworks/cocos2d-x/cocos/storage
/frameworks/cocos2d-x/cocos/ui
/frameworks/cocos2d-x/CONTRIBUTING.md
/frameworks/cocos2d-x/docs
/frameworks/cocos2d-x/download-deps.py
/frameworks/cocos2d-x/extensions
/frameworks/cocos2d-x/external/Box2D
/frameworks/cocos2d-x/external/bullet
/frameworks/cocos2d-x/external/chipmunk
/frameworks/cocos2d-x/external/clipper
/frameworks/cocos2d-x/external/config.json
/frameworks/cocos2d-x/external/ConvertUTF
/frameworks/cocos2d-x/external/curl
/frameworks/cocos2d-x/external/edtaa3func
/frameworks/cocos2d-x/external/flatbuffers
/frameworks/cocos2d-x/external/freetype2
/frameworks/cocos2d-x/external/glfw3
/frameworks/cocos2d-x/external/jpeg
/frameworks/cocos2d-x/external/json
/frameworks/cocos2d-x/external/linux-specific/fmod
/frameworks/cocos2d-x/external/lua
/frameworks/cocos2d-x/external/png
/frameworks/cocos2d-x/external/poly2tri
/frameworks/cocos2d-x/external/recast
/frameworks/cocos2d-x/external/sqlite3
/frameworks/cocos2d-x/external/tiff
/frameworks/cocos2d-x/external/tinyxml2
/frameworks/cocos2d-x/external/unzip
/frameworks/cocos2d-x/external/version.json
/frameworks/cocos2d-x/external/webp
/frameworks/cocos2d-x/external/websockets
/frameworks/cocos2d-x/external/win10-specific
/frameworks/cocos2d-x/external/win32-specific
/frameworks/cocos2d-x/external/winrt_8.1-specific
/frameworks/cocos2d-x/external/winrt-specific
/frameworks/cocos2d-x/external/wp_8.1-specific
/frameworks/cocos2d-x/external/xxhash
/frameworks/cocos2d-x/external/xxtea
/frameworks/cocos2d-x/external/zlib
/frameworks/cocos2d-x/licenses
/frameworks/cocos2d-x/plugin
/frameworks/cocos2d-x/README.cmake
/frameworks/cocos2d-x/README.md
/frameworks/cocos2d-x/tools
/frameworks/runtime-src/proj.android
/frameworks/runtime-src/proj.win32
/runtime/win32
/simulator/win32
/writablePath
