
/simulator/win32
/runtime/win32
/frameworks/cocos2d-x
/frameworks/runtime-src/proj.win32
/frameworks/runtime-src/proj.android
*.suo
*.tlog
*.obj
*.lib
*.exp
*.log
*.dll
*.pdb
*.idb
*.cache
*.sdf
*.opendb
*.tags
*.tags_sorted_by_file
*.apk
/writablePath
