<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c03_t01_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,152},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>c03_t02_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{46,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t02_s02_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{80,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t02_s03_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{76,60}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{76,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t02_s04_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,84},{76,66}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t02_s05_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,174},{60,76}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t02_s06_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,98},{66,76}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t02_s07_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,174},{66,60}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{66,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t02_s08_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,174},{60,60}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{60,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t02_s09_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,166},{66,66}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t02_s10_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,174},{60,66}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t03_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>c03_t04_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,170}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BabyWarsTextureUI.png</string>
            <key>size</key>
            <string>{488,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ddcf95f0b7632ac1f6607d79a79699:646334e56c05d94b18d7841abd23d1e6:215d1941b12516cc0f89fcfb847e1dd5$</string>
            <key>textureFileName</key>
            <string>BabyWarsTextureUI.png</string>
        </dict>
    </dict>
</plist>
