<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c03_t01_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1000},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>c03_t06_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,490},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>c03_t07_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,982},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>c03_t07_s02_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,638},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>c03_t07_s03_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,816},{16,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>c03_t07_s04_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,798},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>c03_t07_s05_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,994},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>c03_t07_s06_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,982},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>c03_t07_s07_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,864},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>c03_t07_s08_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{136,136}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{136,136}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t07_s08_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{142,142}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{142,142}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t07_s08_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{144,144}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t07_s08_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{142,142}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{142,142}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t07_s09_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,994},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>c03_t07_s10_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>c03_t08_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{90,72}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,144},{90,72}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,830},{122,132}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,84},{122,132}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,364},{140,140}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,76},{140,140}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,506},{144,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,72},{144,122}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{144,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,44},{144,136}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,366},{122,128}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{122,128}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,490},{114,110}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,39},{114,110}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,630},{96,100}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,40},{96,100}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f09.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,700},{82,96}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,39},{82,96}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,938},{42,42}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{42,42}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,922},{70,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{70,70}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,830},{90,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,63},{90,84}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,964},{34,36}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,93},{34,36}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,798},{64,52}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,83},{64,52}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,922},{82,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{82,78}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,602},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{96,96}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,732},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{96,96}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s03_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,184},{180,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>c03_t08_s04_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{180,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>c03_t08_s05_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,654},{174,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,54}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>c03_t09_s01_f00.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,964},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>c03_t09_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,982},{12,16}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>c03_t09_s01_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,982},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>c03_t09_s01_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,620},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>c03_t09_s01_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,798},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>c03_t09_s01_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,964},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>c03_t09_s01_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,602},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>c03_t09_s01_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,798},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>c03_t09_s01_f08.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,994},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>c03_t09_s01_f09.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,994},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BabyWarsTextureUI.png</string>
            <key>size</key>
            <string>{420,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb7be4f3cd24ffa6d7985d67a9ff73ea:417901a9c8b59914d2f660a942c1d7e4:215d1941b12516cc0f89fcfb847e1dd5$</string>
            <key>textureFileName</key>
            <string>BabyWarsTextureUI.png</string>
        </dict>
    </dict>
</plist>
