<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c03_t01_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,244},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>c03_t01_s02_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,232},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>c03_t01_s03_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,220},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>c03_t01_s04_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,208},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>c03_t06_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,294},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>c03_t07_s06_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,930},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>c03_t07_s07_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1052},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>c03_t07_s08_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,958},{136,136}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{136,136}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t07_s08_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,670},{142,142}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{142,142}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t07_s08_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,812},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{144,144}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t07_s08_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,670},{142,142}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{142,142}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t07_s10_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>c03_t08_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,494},{90,72}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,144},{90,72}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,856},{122,132}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,84},{122,132}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,774},{140,140}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,76},{140,140}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{144,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,72},{144,122}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,864},{144,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{144,136}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1002},{122,128}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{122,128}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,836},{114,110}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,39},{114,110}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f08.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,916},{96,100}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,40},{96,100}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s01_f09.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1014},{82,96}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,39},{82,96}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,812},{42,42}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{42,42}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,262},{70,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{70,70}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1088},{90,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{90,84}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,864},{34,36}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,93},{34,36}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,670},{64,52}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,83},{64,52}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1098},{82,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{82,78}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,924},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{96,96}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s02_f08.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,990},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{96,96}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s03_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,58},{180,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>c03_t08_s04_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{180,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>c03_t08_s05_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{174,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,54}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>c03_t08_s06_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{156,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,96},{156,144}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,262},{174,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,72},{174,192}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,294},{186,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,72},{186,192}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,208},{186,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,72},{186,192}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,208},{186,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,72},{186,192}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,438},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{186,186}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{186,186}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{186,186}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{186,186}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,482},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{186,186}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,538},{166,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,86},{166,166}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,364},{172,172}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,83},{172,172}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,114},{178,178}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{178,178}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,626},{184,184}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{184,184}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{184,184}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{184,184}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,588},{184,184}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{184,184}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f17.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,396},{190,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{190,190}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f18.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,814},{120,108}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,114},{120,108}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,111},{120,114}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,111},{120,114}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,948},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,129},{84,78}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,948},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,129},{84,78}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f23.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,666},{102,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,129},{102,78}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f24.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,666},{102,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,129},{102,78}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f25.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1022},{82,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,125},{82,82}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f26.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,724},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,138},{60,60}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f27.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,724},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,138},{60,60}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f28.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1126},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,129},{78,78}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f29.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1126},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,129},{78,78}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f30.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,706},{156,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,87},{156,162}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f31.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,706},{156,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,87},{156,162}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f32.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{204,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,63},{204,210}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f33.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{204,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,63},{204,210}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s06_f34.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{258,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{258,264}}</string>
                <key>sourceSize</key>
                <string>{336,336}</string>
            </dict>
            <key>c03_t08_s07_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,900},{34,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,95},{34,28}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s07_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1002},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,84},{54,48}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s07_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,414},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,75},{78,66}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s07_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,948},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{84,78}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s07_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,334},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,75},{78,66}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s07_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,72},{78,72}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s07_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1174},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{78,78}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s08_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,794},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,99},{24,18}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s08_f02.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,786},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,84},{54,48}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s08_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,586},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,72},{78,72}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s08_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,770},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,69},{84,78}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>c03_t08_s08_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1096},{84,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{84,84}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BabyWarsTextureUI.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e1646b9dfeea827b723ece3348fe9ee:ba0415421a7c3707bdbcc2a08901eb7e:215d1941b12516cc0f89fcfb847e1dd5$</string>
            <key>textureFileName</key>
            <string>BabyWarsTextureUI.png</string>
        </dict>
    </dict>
</plist>
